<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add 
			name="BookHavenDB" 
			connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=BookHavenDB;Integrated Security=True;Connect Timeout=30;Encrypt=False"
			providerName="System.Data.SqlClient" 
		/>
	</connectionStrings>
</configuration>