<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BookHavenDB" connectionString="Data Source=LAPTOP-O7C0LR2K\SQLEXPRESS;Initial Catalog=BookHavenDB;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>